::-webkit-scrollbar{width: 0}/*hide scroll bar*/
.animated {
    -webkit-animation-duration: 1s;
    animation-duration: 1s;
    -webkit-animation-fill-mode: both;
    animation-fill-mode: both;
}

.animated.infinite {
    -webkit-animation-iteration-count: infinite;
    animation-iteration-count: infinite;
}

.animated.flip {
    -webkit-backface-visibility: visible;
    backface-visibility: visible;
    -webkit-animation-name: flip;
    animation-name: flip;
}
.headcontainer{/*header's background image*/
    width:100%;
    min-height: 300px;
    background-image: url("img/header_bg.jpg");
    background-repeat: no-repeat;
}

.headcontent{/*header's main content*/
    width:100%;
    background-color: rgba(0,0,0,0.5);
    min-height: 300px;
    color: white;
    font-size: 20px;
}

body{
    margin: 0;
}

ul li{
    font-family: Arial;
    padding: 10px;
}

.clearfix{/*fix flow problem*/
    overflow: hidden;
}

.floatleft{
    float: left;
    width: 31%;
    padding-left: 5%;
    padding-right: 5%;
    margin-left: 6%;
    padding-top: 50px;
    padding-bottom: 50px;
    margin-top: 30px;
    margin-bottom: 30px;
}


.floatright{
    float: right;
    width: 31%;
    padding-left: 5%;
    padding-right: 5%;
    margin-right: 6%;
    padding-top: 50px;
    padding-bottom: 50px;
    margin-top: 30px;
    margin-bottom: 30px;
}

@media (max-width: 767px) {
    .floatleft{
        float: none;
        width: 80%;
    }
}

@media (max-width: 767px) {
    .floatright{
        float: none;
        width: 80%;
        margin-left: 6%;
    }
}

.textcenter{/*text align center*/
    text-align: center;
    font-family: Consolas;
}
td{
    text-align: left;
    font-family: "Gill Sans MT";
}
a:link{
    text-decoration: none;
    color: aqua;
}

a:visited{
    color: aquamarine;
}

#blackbackground{/*black background show when click*/
    position: fixed;
    width:100%;
    height: 100%;
    background-color: rgba(0,0,0,0.7);
    display: none;
    z-index: 1;
}

#wechatcontent{/*container to put wechat code*/
    position: fixed;
    width: 500px;
    height: 500px;
    margin: auto;
    background-color: white;
    left: 0;
    top: 0;
    right: 0;
    bottom: 0;
    display: none;
    z-index: 2;
}
@media (max-width: 767px) {
    #wechatcontent{
        width: 200px;
        height: 200px;
    }
}
p{
    font-family: "Adobe Arabic";
    font-size: 20px;
}

#maincontent{/*container of my introduction and about*/
    width: 100%;
}

#tablecontent{/*container of timetable*/
    width: 90%;
    margin-left: 5%;
    margin-bottom: 50px;
    overflow-x: scroll;
}
#tablecontent table{
    border: 1px #ddd solid;
}
#tablecontent th{
    background-color: #eee;
}
#footer{/*bottom of the page*/
    width: 100%;
    margin-bottom: 30px;
}
@media(max-width: 767px){
    #tablecontent td{
        background-color: white;
    }
}
.img2{/*wechat code style*/
    position: absolute;
    margin: auto;
    width: 80%;
    height: 80%;
    top: 0;
    left: 0;
    right: 0;
    bottom: 0;
}
.cardframe{/*border of introduction and about*/
    border-radius: 20px;
    box-shadow: 0 1px 1px #999;
    transition: 0.2s;
    background-color: white;
}

.cardframe:hover{
    box-shadow: 0 5px 20px #999;
    transform: translate3d(0,-10px,0);
}

.favbutton{/*favourite page button*/
    border-radius: 10px;
    border: 1px solid #2b3047;
    color: #2b3047;
    background-color: white;
    float: right;
    width: 20%;
    margin-right: 15%;
    font-size: 20px;
    padding-top: 10px;
    padding-bottom: 10px;
    transition: 0.3s;
    text-align: center;
    cursor: pointer;
}

@media(max-width: 767px){
    .favbutton{
        color: white;
        background-color: #2b3047;
        float: none;
        width: 60%;
        margin-left: 20%;
    }
}

.favbutton:hover{
    color: white;
    background-color: #2b3047;
}

.favbutton1{/*favourite page button*/
    border-radius: 10px;
    border: 1px solid #de698c;
    color: #de698c;
    background-color: white;
    float: right;
    width: 20%;
    margin-right: 15%;
    font-size: 20px;
    padding-top: 10px;
    padding-bottom: 10px;
    transition: 0.3s;
    text-align: center;
    margin-top: 30px;
    cursor: pointer;
}

.bottombutton{/*buttons at the bottom*/
    width:60%;
    margin-left: 20%;
    border-radius: 10px;
    font-size: 20px;
    padding-top: 10px;
    padding-bottom: 10px;
    transition: 0.3s;
    text-align: center;
    margin-top: 30px;
    margin-bottom: 30px;
    cursor: pointer;
}
.join{/*style of join company button*/
    color: deepskyblue;
    border: 1px solid deepskyblue;
}
@media (max-width: 767px) {
    .join{
        color: white;
        background-color: deepskyblue;
    }
}
.join:hover{
    color: white;
    background-color: deepskyblue;
}
.calculator{/*style of calculator button*/
    color: #78c357;
    border: 1px solid #78c357;
}
@media (max-width: 767px) {
    .calculator{
        color: white;
        background-color: #78c357;
    }
}
.calculator:hover{
    color: white;
    background-color: #78c357;
}
.flight{/*style of calculator button*/
    color: yellow;
    border: 1px solid yellow;
}
@media (max-width: 767px) {
    .flight{
        color: white;
        background-color: yellow;
    }
}
.flight:hover{
    color: white;
    background-color: yellow;
}
@media(max-width: 767px){
    .favbutton1{
        color: white;
        background-color: #de698c;
        float: none;
        width: 60%;
        margin-left: 20%;
    }
}

.favbutton1:hover{
    color: white;
    background-color: #de698c;
}

.divide{
    column-count: 2;
    column-gap: 30px;

}


@keyframes lefttoright {
    from{
        opacity: 0;
        -webkit-transform: translate3d(-90%,0,0) rotate(-30deg);
        -moz-transform: translate3d(-90%,0,0) rotate(-30deg);
        -ms-transform: translate3d(-90%,0,0) rotate(-30deg);
        -o-transform: translate3d(-90%,0,0) rotate(-30deg);
        transform: translate3d(-90%,0,0) rotate(-30deg);}
    to {
        -webkit-transform: translate3d(0,0,0);
        -moz-transform: translate3d(0,0,0);
        -ms-transform: translate3d(0,0,0);
        -o-transform: translate3d(0,0,0);
        transform: translate3d(0,0,0);
    }
}
@keyframes righttoleft {
    0%{
        opacity: 0;
        -webkit-transform: translate3d(130%,0,0) rotate(30deg);
        -moz-transform: translate3d(130%,0,0) rotate(30deg);
        -ms-transform: translate3d(130%,0,0) rotate(30deg);
        -o-transform: translate3d(130%,0,0) rotate(30deg);
        transform: translate3d(130%,0,0) rotate(30deg);}
    100% {
        -webkit-transform: translate3d(0,0,0);
        -moz-transform: translate3d(0,0,0);
        -ms-transform: translate3d(0,0,0);
        -o-transform: translate3d(0,0,0);
        transform: translate3d(0,0,0);
    }
}

@keyframes flowup {
    0%{
        opacity: 0;
        -webkit-transform: translate3d(0,100px,0);
        -moz-transform: translate3d(0,100px,0);
        -ms-transform: translate3d(0,100px,0);
        -o-transform: translate3d(0,100px,0);
        transform: translate3d(0,100px,0);
    }
    100% {
        -webkit-transform: translate3d(0,0,0);
        -moz-transform: translate3d(0,0,0);
        -ms-transform: translate3d(0,0,0);
        -o-transform: translate3d(0,0,0);
        transform: translate3d(0,0,0);
    }
}
@keyframes turnaround {
    from{
        transform: rotate(0);
    }
    to{
        transform: rotate(360deg);
    }
}
@keyframes shake {
    0%{
        opacity: 0;
        transform: rotate(0);
    }
    10%{
        transform: rotate(-5deg);
    }
    20%{
        transform: rotate(5deg);
    }
    30%{
        transform: rotate(-5deg);
    }
    40%{
        transform: rotate(5deg);
    }
    50%{
        transform: rotate(-5deg);
    }
    60%{
        transform: rotate(5deg);
    }
    70%{
        transform: rotate(-5deg);
    }
    80%{
        transform: rotate(5deg);
    }
    90%{
        transform: rotate(-5deg);
    }
    100%{
        transform: rotate(0);
    }
}
@keyframes jelly {
    0%{
        opacity: 0;
    }
    25%{
        transform: matrix3d(3.153733, -0.247374, 0, -0.000473,
        -0.467063, 2.934044, 0, -0.00031,
        0, 0, 1, 0,
        100, 100, 0, 1);
    }
    50%{
        transform: matrix3d(3.270229, 0.085009, 0, -0.000048,
        0.217801, 3.262161, 0, 0.000478,
        0, 0, 1, 0,
        83, 95, 0, 1);
    }
    75%{
        transform: matrix3d(3.155963, -0.184546, 0, -0.000665,
        -0.14373, 3.058218, 0, -0.000054,
        0, 0, 1, 0,
        83, 95, 0, 1);
    }
    100%{
        transform: none;
    }
}
.flowup{
    animation-name: flowup;
    transition-timing-function: ease-out;
}

.rotateleft{
    animation-name: lefttoright;
    transition-timing-function: ease-out;
}

.rotateright{
    animation-name: righttoleft;
    transition-timing-function: ease-out;
}
.turnaround{
    animation-name: turnaround;
    transition-timing-function: linear;
}
.shake{
    animation-name: shake;
    transition-timing-function: linear;
}
.jelly{
    animation-name: jelly;
    transition-timing-function: linear;
}
@media(max-width: 767px){
    body{
        background-color: #eee;
    }
    .rotateleft,.rotateright{
        animation-name: flowup;
        transition-timing-function: ease-out;
    }
}