::-webkit-scrollbar{width: 0}/*hide scroll bar*/

.headcontainer{/*header's background image*/
    width:100%;
    min-height: 300px;
    background-image: url("img/header_bg.jpg");
    background-repeat: no-repeat;
}

.headcontent{/*header's main content*/
    width:100%;
    background-color: rgba(0,0,0,0.5);
    min-height: 300px;
    color: white;
    font-size: 20px;
}

body{
    margin: 0;
}

ul li{
    font-family: Arial;
    padding: 10px;
}

.clearfix{/*fix flow problem*/
    overflow: auto;
}

.floatleft{
    float: left;
    width: 31%;
    padding-left: 5%;
    padding-right: 5%;
    margin-left: 6%;
    padding-top: 50px;
    padding-bottom: 50px;
    margin-top: 30px;
    margin-bottom: 30px;
}


.floatright{
    float: right;
    width: 31%;
    padding-left: 5%;
    padding-right: 5%;
    margin-right: 6%;
    padding-top: 50px;
    padding-bottom: 50px;
    margin-top: 30px;
    margin-bottom: 30px;
}

@media (max-width: 767px) {
    .floatleft{
        float: none;
        width: 80%;
    }
}

@media (max-width: 767px) {
    .floatright{
        float: none;
        width: 80%;
        margin-left: 6%;
    }
}

.textcenter{/*text align center*/
    text-align: center;
    font-family: Consolas;
}
td{
    text-align: left;
    font-family: "Gill Sans MT";
}
a:link{
    text-decoration: none;
    color: aqua;
}

a:visited{
    color: aquamarine;
}

#blackbackground{/*black background show when click*/
    position: fixed;
    width:100%;
    height: 100%;
    background-color: rgba(0,0,0,0.7);
    display: none;
    z-index: 1;
}

#wechatcontent{/*container to put wechat code*/
    position: fixed;
    width: 500px;
    height: 500px;
    margin: auto;
    background-color: white;
    left: 0;
    top: 0;
    right: 0;
    bottom: 0;
    display: none;
    z-index: 2;
}
@media (max-width: 767px) {
    #wechatcontent{
        width: 200px;
        height: 200px;
    }
}
p{
    font-family: "Adobe Arabic";
    font-size: 20px;
}

#maincontent{/*container of my introduction and about*/
    width: 100%;
}

#tablecontent{/*container of timetable*/
    width: 90%;
    margin-left: 5%;
    margin-bottom: 50px;
}
#tablecontent table{
    border: 1px #ddd solid;
}
#tablecontent th{
    background-color: #eee;
}
#footer{/*bottom of the page*/
    width: 100%;
    margin-bottom: 30px;
}
@media(max-width: 767px){
    #tablecontent td{
        background-color: white;
    }
}
.img2{/*wechat code style*/
    position: absolute;
    margin: auto;
    width: 80%;
    height: 80%;
    top: 0;
    left: 0;
    right: 0;
    bottom: 0;
}

.cardframe{/*border of introduction and about*/
    border-radius: 20px;
    box-shadow: 0 1px 1px #999;
    transition: 0.2s;
    background-color: white;
}

.cardframe:hover{
    box-shadow: 0 5px 20px #999;
}

.favbutton{/*favourite page button*/
    border-radius: 10px;
    border: 1px solid blue;
    color: blue;
    background-color: white;
    float: right;
    width: 20%;
    margin-right: 15%;
    font-size: 20px;
    padding-top: 10px;
    padding-bottom: 10px;
    transition: 0.3s;
    text-align: center;
}

@media(max-width: 767px){
    .favbutton{
        color: white;
        background-color: blue;
        float: none;
        width: 60%;
        margin-left: 20%;
    }
}

.favbutton:hover{
    color: white;
    background-color: blue;
}

@media(max-width: 767px){
    body{
        background-color: #eee;
    }
}