::-webkit-scrollbar{width: 0}

.headcontainer{/*header's background image*/
    width:100%;
    min-height: 300px;
    background-image: url("img/header_bg.jpg");
    background-repeat: no-repeat;
}

.headcontent{/*header's main content*/
    width:100%;
    background-color: rgba(0,0,0,0.5);
    min-height: 300px;
    color: white;
    font-size: 20px;
}

body{
    margin: 0;
}

ul li{
    font-family: Arial;
    padding: 10px;
}

.clearfix{
    overflow: auto;
}

.floatleft{
    float: left;
    width: 35%;
    margin-left: 10%;
    padding-top: 50px;
    padding-bottom: 50px;
}


.floatright{
    float: right;
    width: 35%;
    margin-right: 10%;
    padding-top: 50px;
    padding-bottom: 50px;
}

@media (max-width: 767px) {
    .floatleft{
        float: none;
        width: 80%;
    }
}

@media (max-width: 767px) {
    .floatright{
        float: none;
        width: 80%;
        margin-left: 10%;
    }
}

.textcenter{
    text-align: center;
    font-family: Consolas;
}
td{
    text-align: left;
    font-family: "Gill Sans MT";
}
a:link{
    text-decoration: none;
    color: aqua;
}

a:visited{
    color: aquamarine;
}

#blackbackground{/*black background show when click*/
    position: fixed;
    width:100%;
    height: 100%;
    background-color: rgba(0,0,0,0.7);
    display: none;
    z-index: 1;
}

#wechatcontent{/*container to put wechat code*/
    position: fixed;
    width: 500px;
    height: 500px;
    margin: auto;
    background-color: white;
    left: 0;
    top: 0;
    right: 0;
    bottom: 0;
    display: none;
    z-index: 2;
}
@media (max-width: 767px) {
    #wechatcontent{
        width: 200px;
        height: 200px;
    }
}
p{
    font-family: "Adobe Arabic";
    font-size: 20px;
}

#maincontent{/*container of my introduction and about*/
    width: 100%;
}

#tablecontent{/*container of timetable*/
    width: 90%;
    margin-left: 5%;
    margin-bottom: 50px;
}

#footer{
    width: 100%;
    margin-bottom: 30px;
}

.img2{/*wechat code style*/
    position: absolute;
    margin: auto;
    width: 80%;
    height: 80%;
    top: 0;
    left: 0;
    right: 0;
    bottom: 0;
}