body{
    margin:0;
}
.header{
    height: 60px;
    font-size: 30px;
    line-height: 55px;
    background-color: #eee;
    position: fixed;
    width: 100%;
    margin-top: -80px;
}
.title{
    color: dodgerblue;
    margin-left: 5%;
}
.card{
    width: 1024px;
    margin-top: 80px;
    box-shadow: 0 3px 5px #ddd;
    margin-left: auto;
    margin-right: auto;
    overflow: hidden;
}
form{
    width: 400px;
    margin-left:auto;
    margin-right: auto;
    margin-top: 50px;
    margin-bottom: 50px;
}

.errormsg{
    height: 20px;
    font-size: 15px;
}

