.maincontent {
    width: 800px;
    margin: 0 auto;
}

td {
    color: #3eb8eb;
    text-align: center;
    font-size: 25px;
}

.black {
    color: black;
}

table {
    width: 100%;
}

img {
    width: 100%;
}

.btn {
    width: 40%;
    margin-left: 30%;
    font-size: 30px;
    height: 50px;
    border-radius: 5px;
    color: white;
    margin-top: 15px;
    margin-bottom: 15px;
    cursor: pointer;
}

.bluebtn {
    background-color: #3eb8eb;
    border: 1px solid #3eb8eb;
}

body {
    margin: 0;
}

.header {
    width: 96%;
    background-color: #3eb8eb;
    height: 50px;
    font-size: 30px;
    line-height: 45px;
    color: white;
    padding-left: 2%;
    padding-right: 2%;
}

.sub {
    display: none;
}

@media (max-width: 799px) {
    .maincontent {
        width: 98%;
        margin-left: 1%;
    }

    .bluebtn {
        display: none;
    }

    .sub {
        float: right;
        font-size: 20px;
        display: block;
        line-height: 50px;
    }
}

@media (max-width: 767px) {
    td {
        font-size: 10px;
    }
}